@import "src/variables"
.wait
  color: $p-darkblue
  display: inline-block
  white-space: pre

.done
  color: $p-silver
  display: inline-block
  white-space: pre

.divider
  width: 1px
  margin-top: 3px
  height: 28px
  display: inline-block

.divider_on
  background-color: $p-blue

.divider_off
  background-color: white

.frame
  background-color: white
  width: 1000px
  padding: 12px
  font-size: 22px
  border-radius: 25px
  border: 2px solid  $p-blue
  min-width: 1000px
  box-shadow: 0px 20px 30px 0px rgba(6, 36, 111, 0.90)